<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic Tech Blog</title>
    <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1 class="headline">
        <a href="/">BASIC TECH BLOG</a>
      </h1>
        <nav>
          <span><a href="/">home</a></span> 
          {{#if loggedIn}}
          <a href="/dashboard">post</a>
          <button id="logout" class="btn-no-style">logout</button>
          {{else}}
          <a href="/login">login</a>
          {{/if}}
        </nav>
{{!-- Todo: change over to below format template --}}
        <nav class="navbar-expand-lg navbar-dark bg-dark fs-3 pt-3" id="navigation">
                        <div class="container-fluid">
                            <button class="navbar-toggler" id="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                              </button>
                                {{#if loggedIn}}
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
                                    <li class="nav-item">
                                        <a class="nav-link fs-6 link-light" aria-current="page" id="home" href="/">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link fs-6 link-light" aria-current="page" id="logOut" href="#">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        {{/if}}
                    </div>
                </nav>
{{!-- End new format template  --}}
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      MVC TECH BLOG 2021
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

</body>

</html>
